$imgAPI-architect0: 'https://via.placeholder.com/1200x705/0fad41/FFFFFF';
$imgAPI-architect1: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect2: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect3: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect4: 'https://via.placeholder.com/700x462/8e8e8e/FFFFFF';
$imgAPI-architect5: 'https://via.placeholder.com/700x462/52596b/FFFFFF';
$imgAPI-architect6: 'https://via.placeholder.com/700x463/8e8e8e/FFFFFF';
$imgAPI-architect7: 'https://via.placeholder.com/700x463/52596b/FFFFFF';
$imgAPI-architect8: '/images/architect/home.png';
$imgAPI-architect9: '/images/architect/architect_team.png';
$imgAPI-architect10: '/images/architect/architect_team.png';
$imgAPI-architect11: '/images/architect/architect_team.png';
$imgAPI-architect12: '/images/architect/architect_team.png';
$imgAPI-architect13: '/images/architect/architect_team.png';
$imgAPI-architect14: '/images/architect/architect_team.png';
$imgAPI-architect15: 'https://via.placeholder.com/1200x801/9a7a4f/FFFFFF';
